.hero-header {
  margin-top: 1.3rem;
}

section.main-content {
  margin-top: 1rem;
}

a.search-result-title {
  color: #141414;
  text-decoration: underline;
  padding-right: 6px;
}

h1.search-result-title {
  font-size: 1.6rem;
  text-transform: none;
}

.modal-title {
  background-color: rgba(93, 164, 34, 0.4);
  padding: 6px 18px;
  border-radius: 2px;
}

.add-button {
  margin: 1rem 0;
}

button[data-task="deactivate"] {
  position: absolute;
  left: 12px;
}


td.edit-buttons,
th.edit-buttons {
  padding-right: 8rem;
}

.button-box {
  opacity: 0;
  position: absolute;
  margin-left: 10px;
  border: 1px solid #495057;
  width: 100px;
  border-radius: 3px;
  background-color: #fff;
  padding: 2px 8px;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -ms-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}

tr:hover .button-box {
  opacity: 1;
}

a.edit-button {
  cursor: pointer;
  margin: 0 2px;
  color: #495057;
  font-size: 80%;
}

td.inactive-locale {
  color: #f95c7b;
}

td.missing-locale {
  color: #fd7e14;
}

.empty-results {
  margin: 2rem 0
}
