.hero-header {
  margin-top: 1.3rem;
}

section.main-content {
  margin-top: 2rem;
}

a.search-result-title {
  color: #141414;
  text-decoration: underline;
  padding-right: 6px;
}

h1.search-result-title {
  font-size: 1.6rem;
  text-transform: none;
}

td.inactive-locale {
  color: #f95c7b;
}

td.missing-locale {
  color: #fd7e14;
}
