.hero-header {
  margin-top: 1.3rem;
}

section.main-content {
  margin-top: 2rem;
}

a.search-result-title {
  color: #141414;
  text-decoration: underline;
  padding-right: 6px;
}

h1.search-result-title {
  font-size: 1.6rem;
  text-transform: none;
}

td.edit-buttons,
th.edit-buttons {
  padding-right: 8rem;
}

.button-box {
  border: 1px solid #495057;
  border-radius: 3px;
  background-color: #fff;
  padding: 2px 8px;

}

a.edit-button {
  cursor: pointer;
  margin: 0 2px;
  color: #495057;
  font-size: 80%;
}

td.inactive-locale {
  color: #f95c7b;
}

td.missing-locale {
  color: #fd7e14;
}
