body {
  color: #141414;
  background: #fafbfe;
  font-family: 'Oxygen', sans-serif;
}

h1 {
  font-size: 1.1rem;
  font-weight: 600;
  text-transform: uppercase;
}

h2 {
  font-size: 1.6rem;
}

img#brand-logo {
  width: 38px;
  margin-left: 15px;
}

input[type="search"]::-webkit-input-placeholder {
  color: #fff;
  opacity: 1; /* Firefox */
}

#top-search {
  width: 75%;
  background-color: #788597;
  border-radius: 5px;
  color: #fff;
}

.dropdown-item,
a.nav-link {
  font-size: 0.9rem;
  color: #8391a2;
}

a.nav-link:hover {
  color: #bccee4;
}

a.active,
a.active:hover {
  color: #fff;
}

.nav-icon {
  margin-right: 8px;
}

.bi,
.nav-icon-feather {
  margin: 0 10px 2px 0;
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

.navbar-nav {
  flex-direction: row !important;
}

.navbar-nav .form-inline {
  width: 100%;
}

.navbar .form-control {
  border-radius: 0;
  font-size: 0.875rem;
  height: calc(1.5em + .75rem);
  width: 100%;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
  transition: border-color .1s ease-in-out,box-shadow .1s ease-in-out;
}

.navbar .form-control:focus {
  box-shadow: 0 0 0 1px rgb(255 255 255 / 25%);
  background-color: #fff;
  color: #495057;
}

.navbar-nav .nav-item {
  margin: 0 12px;
}

.navbar-nav .dropdown-menu {
  position: absolute !important;
  left: -100px;
}

nav.navbar {
  background-color: #313a46;
}

nav.sidebar {
  background-color: #313a46;
  padding-bottom: 60rem;
}

.locale-name  {
  margin-left: 6px;
}

li#admin-entry {
  text-transform: uppercase;
  font-size: 0.8rem;
  color: #fff;
  margin-left: 14px;
  padding-top: 2rem;
}

